
* {
	box-sizing:border-box;
}

body {
	min-height: 100vh;
	margin: 0px 0px;
	padding: 0px 0px;
	background-color: #e0e1dd;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	width: max(400px, 100vw);
	max-width: 1000px; 
}

#main {
	width: 100vw;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-content: space-between;
	align-items: center;
}

#navbar {
	padding: 20px 40px;
	display: flex;
	gap: 20px;
	height: 100px;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

#navbar > a {
	color:white;
}

#content {
	padding: 40px 40px;
	flex: 1;
	height: 100px;
	width: 100vw;
}

#contact {
	color: white;
	display: flex;
	flex-wrap: wrap;
	padding: 20px 40px;
	height: 90px;
	align-items: center;
	gap: 20px;
}

#contact > a {
	color: white;
}

#navbar-wrapper {
	display: flex;
	justify-content: center;
	background-color: #274c77;
	width: 100vw;
}

#contact-wrapper {
	display: flex;
	justify-content: center;
	background-color: #5f6568;
	width: 100vw;
}

.pic {
	padding: 10px;
	width: min(100%, 400px);
	max-width: 400px;
	float: right;
}

p {
	text-align: justify;
	margin: 0px
}

.news-item {
    margin-bottom: 20px;
}

.news-item hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.news-item p {
    margin: 0;
    font-size: 16px;
}

.news-item h3 {
    font-size: 20px; 
    font-weight: bold;
    margin: 0;
}

.teaching-item {
    margin-bottom: 20px;
}

.teaching-item h3 {
    font-size: 20px;
    margin: 0;
}

.teaching-item hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.teaching-item p {
    margin: 10px 0;
}

.teaching-item ul {
    margin-left: 20px;
}

.projects-item p {
	margin: 0;
	font-size: 16x;
}

.projetcs-item h3 {
    font-size: 20px; 
    font-weight: bold;
    margin: 0;
}

.desc-with-icon {
  display: flex;
  align-items: flex-start;
  gap: 12px;              /* space between text and icon */
}

.desc-with-icon p {
  margin: 0;
  flex: 1;                /* take remaining width */
}

.paper-icon {
    font-size: 42px;
    color: #d32f2f; /* red */
    margin-left: 10px;
    text-decoration: none;
}

.paper-icon:hover {
    color: #000000;
}

#content {
    counter-reset: project-counter;
}

.projects-item h3 {
    counter-increment: project-counter;
}

.projects-item h3::before {
    content: counter(project-counter) ". ";
    font-weight: bold;
    margin-right: 6px;
}


.grants-item {
    margin-bottom: 20px;
}

.grants-item hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.grants-item p {
    margin: 0;
    font-size: 16px;
}

.grants-item h3 {
    font-size: 20px; 
    font-weight: bold;
    margin: 0;
}

